doctype html
html(lang="en")
  head
    title
  body
    form(action='/trackName', method='get')
      label Please enter your name:
        input(type='text', name='name')
      button(type='submit') Submit
  header
  footer
